*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
body{
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
/*Container Start*/
.container{
	display: block;
}

/*Navbar Start*/
nav{
	display: flex;
	background: rgba(247, 247, 247, 1.0);
}
 
 /*Logo Start*/
.logo a{
	text-decoration: none;
	font-size: 50px;
	font-weight: 900;
	color: #000;
	margin-right: 20px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
}

 /*Logo End*/

/*Address Button Start*/

.dropdown{
	margin-top: auto;
	margin-bottom: auto;
}

.dropdown button{
	background: none;
	color: #000;
	border: none;
	font-size: 16px;
}

.dropdown button:hover{
	background: #519259;
	color: #F4EEA9;
}

#dropdownMenuButton1{
	background: none;
	color: #000;
}

/*Address Button End*/

/*Address Button Start*/

.address{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
}

#address-box{
	background: rgba(230, 230, 230, .8);
	width: 500px;
	height: 40px;
	border-radius: 20px;
	border: none;
}

.address-form input{
	border: 1px solid #000;
	font-size: 15px;
	text-align: center;
	font-weight: 700;
}

/*Address Button End*/

/*Cart Login Start*/
.cart-login{
	display: flex;
	margin: auto;
	margin-right: 5px;
}
/*Cart Login End*/

/*Cart Button Start*/
.cart{
	margin: auto;
	margin-right: 20px;
}

.cart-btn{
	font-size: 20px;
	padding: 7px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	background: none;
	border: 2px solid #000;
	border-radius: 8px;
	opacity: 70%;
	transition: .3s;
}

.cart-btn:hover{
	color: #fff;
	background: #000;
}

/*Cart Button End*/

/*Login Button Start*/

.login{
	margin: auto;
	margin-right: 20px;
}

.login .login-btn{
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 8px;
	font-size: 18px;
	color: #fff;
	background: #519259;
	border: none;
}

.login .login-btn:hover{
	background: #116530;
}

/*Login Button End*/

/*Responsive Address Start*/
.address-r{
	display: none;
}
/*Responsive Address End*/

/*Side Bar Start*/
.side-bar{
	z-index: 999;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(15px);
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: -100%;
	overflow-y: auto;
	margin: 0;
	transition: 0.6s ease;
	transition-property: left;
}

.side-bar .side-menu{
	width: 100%;
	margin-top: 80px;
}

.side-bar .side-menu .pick{
	position: relative;
	cursor: pointer;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
}

.side-bar .side-menu .pick a{
	color: #000;
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
	display: block;
	padding: 5px 30px;
	line-height: 50px;
}

.side-bar .side-menu .pick a:hover{
	background: #2F5D62;
	color: #fff;
}

.side-bar .side-menu .pick .sub-menu{
	background: rgba(255, 255, 255, .5);
	display: none;
}

.side-bar .side-menu .pick .sub-menu a{
	padding-left: 50px;
}

.side-bar .side-menu .pick a .dropdown{
	position: absolute;
	right: 0;
	margin: 20px;
	transition: 0.3s ease;
	display: inline;
}

.rotate{
	transform: rotate(90deg);
}

.close-btn{
	position: absolute;
	color: #000;
	font-size: 20px;
	right: 0;
	margin: 25px;
	cursor: pointer;
	margin-top: 10px;

}

.menu-btn{
	font-size: 15px;
	color: #000;
	margin: auto;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
	display: none;
}

.side-bar.active{
	left: 0;
}

/*Side Bar End*/




/*Java Script Max Width*/

@media screen and (max-width: 768px){
	body{
		width: 90%;
		margin-right: 0;
		margin-left: 0;
	}

	.logo a{
	font-size: 20px;
	margin-left: 0px;
	}

	#address-box{
	display: none;
	}

	.address-r{
		background: none;
		display: block;
		margin-top: 10px;
	}

	.address-r h4{
		font-size: 15px;
		margin-bottom: 0px;
		font-weight: 700;
	}

	.address-r a{
		display: inline;
		text-decoration: none;
		font-size: 15px;
		color: #519259;
		font-weight: 700;
	}

	.cart{
		margin-right: 10px;
	}

	.cart-btn{
		font-size: 15px;
		padding: 2px;
		padding-right: 4px;
		padding-left: 3px;
		padding-top: 1px;
		padding-bottom: 1px;
		background: none;
		border: 1px solid #000;
		border-radius: 4px;
		opacity: 70%;
		transition: .3s;
	}
	.login .login-btn{
		font-size: 14px;
	}

	.dropdown{
		display: none;
	}

	.menu-btn{
		display: block;
	}
}
